{% extends 'Buggle/panel_layout.html' %}
{% block panel %}
{#    {{ form.media }}#}
{#    {{ form }}#}
        <form method="POST" class="post-form">
            {{ form.media }}
            {% csrf_token %}
            <div class="form-group clean-form">
                <label for="{{ form.title.id_for_label }}">عنوان:</label>
                {{ form.title }}
            </div>

            <div class="form-group clean-form">
                <label for="{{ form.url.id_for_label }}">لینک:</label>
                {{ form.url }}
            </div>
            <div class="form-group clean-form">
                <label for="{{ form.text.id_for_label }}">متن:</label>
                {{ form.text }}
            </div>
            <button type="submit" class="btn btn-primary buggle-btn">ذخیره</button>
        </form>
{% endblock %}