<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="rtl">

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/simple bug.ico' %}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static "css/clean-blog.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> منو <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/buggle">باگل.کام</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <li>
                        <a href="/Buggle/logout">خروج</a>
                    </li>
                {% endif %}
                {#                <li>#}
                {#                    <a href="contact">تماس با باگ</a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="/Buggle/about">درباره‌ی باگ</a>#}
                {#                </li>#}
                {% if user %}
                    <li>
                        <a href="/Buggle/panel">پنل</a>
                    </li>
                {% endif %}
                <li>
                    <a href="/Buggle/index">خانه</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

{% block content %}
{% endblock %}
<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="copyright text-muted">مطالب تحت لیسانس <a
                        href="https://creativecommons.org/licenses/by-nc/4.0/">Creative commons</a> منتشر می‌شوند.</p>
            </div>
        </div>
    </div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-84987166-1', 'auto');
        ga('send', 'pageview');

    </script>
</footer>

<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

<script src="{% static "js/jqBootstrapValidation.js" %}"></script>
<script src="{% static "js/contact_me.js" %}"></script>

<script src="{% static "js/clean-blog.min.js" %}"></script>
<script src="{% static "js/moment.js" %}"></script>
<script src="{% static "js/moment-jalaali.js" %}"></script>
<script src="{% static "js/persian-date.js" %}"></script>
</body>

</html>
