{% extends 'Buggle/base_layout.html' %}
{% load staticfiles %}
{% block title %}باگل{% endblock %}
{% block content %}
    <header class="intro-header" style="background-image: url('{% static 'img/home-page.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>باگل</h1>
                        <hr class="small">
                        <span class="subheading">ساب هدر</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in posts %}
                    <div class="post-div">
                        <a href="/buggle/post/{{ post.url }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                        </a>
                        <p class="date-time" data-time-value="{{ post.date |date:"d-m-Y" }}">{{ post.date }}</p>
                        <div class="post-text">{{ post.text | safe }}</div>
                    </div>
                {% endfor %}
                {% if older or next_page > 2 %}
                    <ul class="pager">
                        {% if older %}
                            <li class="next">
                                <a href="/buggle/?p={{ next_page }}">&rarr; پست‌های قدیمی‌تر </a>
                            </li>
                        {% endif %}
                        {% if next_page > 2 %}
                            <li class="previous">
                                <a href="/buggle/?p={{ previous_page }}">پست‌های جدیدتر &larr;</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}