
{% load staticfiles %}
<html lang="en" dir="rtl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static "css/login.css" %}" rel="stylesheet">

    <title>Bugglity | Login</title>
</head>
<body>

<div class="login-page">
    <div class="form">
        <form class="login-form" method="post">
            {% csrf_token %}
            <input type="text" placeholder="شناسه" name="username"/>
            <input type="password" placeholder="رمزعبور" name="password"/>
            <button type="submit">ورود</button>
        </form>
    </div>
</div>

</body>