{% extends 'Buggle/panel_layout.html' %}
{% block panel %}
    <ul>
        <li class="btn-li"><a href="/buggle/panel/posts" class="round green-button">لیست پست‌ها<span class="round">باز گند زدی می‌خوای درست کنی؟</span></a>
        </li>
        <li class="btn-li"><a href="/buggle/panel/about" class="round green-button">اطلاعات شخصی<span class="round">همینی که هست به اندازه کافی مخ نمی‌زنه؟</span></a>
        </li>
        <li class="btn-li"><a href="/buggle/panel/post/new" class="round green-button">افزودن پست جدید<span
                class="round">پرحرف</span></a>
        </li>
    </ul>
{% endblock %}