
{% extends 'Buggle/base_layout.html' %}
{% load staticfiles %}
{% block title %}پنل ادمین{% endblock %}
{% block content %}
    <header class="intro-header"
            style="background-color: #44774B">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                </div>
            </div>
        </div>
    </header>
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <div class="panel-div">
        {% block panel %}
        {% endblock %}
    </div>
{% endblock %}