{% extends 'Buggle/panel_layout.html' %}
{% load staticfiles %}
{% block panel %}
    <h1>پست جدید</h1>
    <form method="POST" class="post-form">
        {{ form.media }}
        {% csrf_token %}
        <div class="form-group clean-form">
            <label for="{{ form.nick_name.id_for_label }}">اسم من:</label>
            {{ form.nick_name }}
        </div>
        <div class="form-group clean-form">
            <label for="{{ form.profile_pic.id_for_label }}">عکس من:‌</label>
            {{ form.profile_pic }}
            {% if profile %}
                <img class="img-responsive img-circle" style="max-width: 110px; padding: 10px" src="{{ profile }}">
            {% endif %}
        </div>
        <div class="form-group clean-form">
            <label for="{{ form.about.id_for_label }}">درباره من: </label>
            {{ form.about }}
        </div>

        <button type="submit" class="btn btn-primary buggle-btn">ذخیره</button>

    </form>
{% endblock %}