{% extends 'Buggle/panel_layout.html' %}
{% load staticfiles %}
{% block panel %}
    <div id="demo">
        <h1>پست‌های وبلاگ</h1>

        <!-- Responsive table starts here -->
        <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
        <div class="table-responsive-vertical shadow-z-1">
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-mc-green" dir="rtl">
                <thead dir="rtl">
                <tr>
                    <th>ردیف</th>
                    <th>عنوان</th>
                    <th>آخرین به روز رسانی</th>
                    <th>اعمال</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td data-title="ID">
                            {{ post.id }}
                        </td>
                        <td data-title="Name">
                            <a href="/buggle/post/{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </td>
                        <td class="date-time" data-time-value="{{ post.date | date:"d-m-Y" }}" data-title="Date">
                            {{ post.date | date:"d-m-Y" }}
                        </td>
                        <td data-title="Status">
                            <a href="/buggle/panel/posts/edit/{{ post.id }}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="/buggle/panel/posts/delete/{{ post.id }}">
                                <span class="remove-post glyphicon glyphicon-remove" style="color:darkred"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <script src="{% static "js/panel_posts.js" %}"></script>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}