{% extends 'Buggle/base_layout.html' %}
{% load staticfiles %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <header class="intro-header"
            style="background-color: #44774B">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container post-detail">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-div">
                        <a href="/buggle/post/{{ post.url }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                        </a>
                        <p class="date-time" data-time-value="{{ post.date |date:"d-m-Y" }}">{{ post.date }}</p>
                        <div class="post-text">{{ post.text | safe }}</div>
                    </div>
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                            this.page.title = {{ post.title }};  // Replace PAGE_URL with your page's canonical URL variable
                        };
                        (function () {
                            var d = document, s = d.createElement('script');

                            s.src = '//buggle.disqus.com/embed.js';

                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"
                                                                      rel="nofollow">comments powered by Disqus.</a>
                    </noscript>
                </div>
            </div>
        </div>
    </article>
{% endblock %}